main {
    width: 100%;
    display: flex;
    justify-content: center;
}
body {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
}
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.checklist-box {
    background-color: #fff8dc;
    background-image: repeating-linear-gradient(
        to bottom,
        #fff8dc,
        #fff8dc 28px,
        #d3c8a8 28px,
        #d3c8a8 29px
    );
    padding: 3rem;
    max-width: 400px;
    min-height: 500px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    line-height: 24px;
    padding-left: 0.5rem;
}